.ion--checkmark-done {
  display: inline-block;
  width: 512px;
  height: 512px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%2344e30a' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M464 128L240 384l-96-96m0 96l-96-96m320-160L232 284'/%3E%3C/svg%3E");
}